
/* Body Navigation -----------------------------*/
	.body-nav {
		line-height: 40px;
		padding: 12px 0;
		z-index: 800;
		width: 100%;
		margin: 0;
		/* positioned absolute so siblings don't shift 
			when the nav becomes fixed.
			Compensate for height with padding in parent*/
		position: absolute;
		top: 0;
		left: 0;
		/*background-color: #ffffff;*/
		/*box-shadow: 0px -5px 15px rgba(0,0,0,0.5);*/
		border-bottom: 1px solid #ddd;
		background-color: transparent;
		transition: background-color 200ms;
	}

	.body-nav a.btn,
	.body-nav p.result-detail {
		display: inline-block;
		line-height: inherit;
		height: inherit;
		margin: 0;
	}
	.body-nav a.btn {
		z-index: 1001;
		float: right;
		margin-left: 10px;
		background-color: #2196f3; 
	}


	.body-nav .nav-title {
		font-size: 20px;
		height: inherit;
		line-height: inherit;
		margin: 0;
		display: inline-block;
		float: left;
	}

	.filter-nav .input-field {
		width: 100px;
		margin-left: 10px;
		/*float: left;*/
	}
	.filter-nav .input-field .dropdown-content.select-dropdown.active {
		width: 200px !important;
	}

	#pagination-num-sel {
		width: 50px;
	}


	.past-banner #main-nav-body .header-link.btn {
		background-color: transparent;
		background-color: rgba(0,0,0,0.5);
		height: 40px;
		line-height: 40px;
		color: #eee;
		font-weight: 400;
		padding: 0 1rem;
		box-shadow: none;
	}
	
/* Buttons ---------------------------------------------------*/
	.body-nav .btn i {
		float: left;
		margin-right: 10px;
	}
	.body-nav .btn.alone i {
		margin-right: 0px;
	}
	.body-nav #salary-trigger::after {
		content: " Analysis";
	}
	.body-nav #filter-side-nav-link::after {
		content: " Filter / Sort";
	}