
/* Logged In, Logged Out */

      .logged-in #signOut,
      .logged-in #displayJobs,
      .logged-in #signOutSide,
      .logged-in .save-wrap { 
            visibility: visible;
            display: inline-block;
      }
      .logged-in #signInWithGithubSide, 
      .logged-in #signInWithGithub { 
            visibility: hidden;
            display: none;
      }

      #signOut,
      #displayJobs,
      #signOutSide,
      .save-wrap { 
            visibility: hidden;
            display: none;
      }
      #signInWithGithubSide,
      #signInWithGithub { 
            visibility: visible;
            display: inline-block;
      }

/* Past Banner ---------------------------------------*/
      
      .past-banner #main-body-nav {
            position: fixed;
            background-color: rgba(0,0,0,0.7);
      }
      .past-banner .pin-target {
            position: fixed;
      }
      .past-banner #header-side-nav-link {
            display: inline-block;
            left: 0;
      }

/* No Results ------------------------------*/
      /* subs hidden by default */
      .feed.sub, .modal .sub, .sub {
            display: none;
      }
      
      /* If EMPTY RETURN */
      .empty-return .sub {
            display: block;
      }
      .empty-return.modal .modal-content {
            display: none;
      }
      .empty-return.modal .sub {
            height: 100%;
            width: 100%;
            font-size: 40px;
            background-color: #ccc;
            padding: 25% 20px;
      }
      .empty-return .sub h2 {
            font-size: inherit;
            margin: 0;
      }
/* Landing------------------------------*/
      
      .landing #banner {
            height: 100vh;
            padding: 0;
      }
      .landing #page1,
      .landing footer {
            display: none;
      }

/* Do Not Disturb ------------------------------*/
      .do-not-disturb #banner .feature-logo.progress-bar {
            width: 0%;
      }
      .do-not-disturb footer {
            display: none;
      }


/* @media ---------------------------------------*/

      @media all and (max-width: 700px) {
            /* Collapse body nav*/
            .compact-ready { padding: 0 1rem; }
            .compact-ready::after { display: none; }
            .compact-ready i.material-icons { margin-right: 0px; }
            span.job-position-target { display: none; }

            /* make feed wider on small screens*/
            #feed {
                  width: 100%;
                  margin: 0;
            }
      }