/*
	Data Analysis
*/


/*.data-wrap .col 	{ outline: 1px solid red; }
.data-wrap h5 		{ outline: 1px solid red; }
.data-wrap p.label 	{ outline: 1px solid red; }*/

.data-modal {
	text-align: center;
}
.data-wrap.row {
	padding: 20px 0;
}
.data-wrap col {
	text-align: center;
}
.data-modal .section-title {
	font-size: 24px;
	font-weight: 500;
}

.data-wrap .salary-info h5{
	display: block;
	width: initial;
	margin: 0 auto;
	text-align: center;
	font-size: 3rem;
	padding: 1rem;
}
.salary-info span::before {
	content: "$";
}

.data-wrap .salary-info span {
	font-size: 30px;
	padding: .5rem 1.5rem;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.15);
}

.data-wrap p.label {
	font-size: 20px;
	text-align: center;
}


#pay-low { 
	/*background-color: red;*/
	/*background-color: #ff5252;*/
	/*background-color: #ff9100 ;*/
	/*background-color: #aeea00 ;*/
}
#pay-median { 
	/*background-color: yellow;*/
	/*background-color: #ffea00;  */
	/*background-color: #64dd17 ;  */
}
#pay-high { 
	background-color: green;
	background-color: #00e676; 
	/*background-color: #00c853 ; */
}