/*
	Data Analysis
*/

.full-screen.modal,
.full-screen.data-modal {
	text-align: center;
	width: 95%;
	max-width: 1000px;
	height: 90vh;
	max-height: 1400px;
}
.data-modal .modal-content {
	padding: 24px 0;
}
.data-wrap.row {
	padding: 20px 0;
}
.data-wrap .col.salary-info {
	text-align: center;
	margin-bottom: 12px;
}
.data-modal .section-title {
	font-size: 30px;
	font-weight: 500;
		display: block;
		width: initial;
		margin: 0 auto;
		text-align: center;
		padding: 1rem;
		margin-bottom: 24px;
}

/* Sections ------------------------------*/
	.data-modal .section.alternate {
		background-color: #2ecc71;
		/*background-color: #00c853;*/
		/*background-color: #43a047;*/
		background-color: #27ae60;
		color: #fff;
		padding: 32px 0;
	}
/* Salary ------------------------------*/
	.salary-info span::before {
		content: "$";
	}

	.data-wrap .salary-info span {
		font-size: 30px;
		padding: .5rem 1.5rem;
		border-radius: 4px;
		background-color: rgba(0,0,0,0.15);
		background-color: rgba(24,24,24,.24);
		background-color: rgba(81,81,81,.24);
	}

	.data-wrap p.label {
		font-size: 20px;
		text-align: center;
	}

	#pay-median { 
		/*background-color: yellow;*/
		/*background-color: #ffea00;  */
		/*background-color: #64dd17 ;  */
		background-color: #00e676;
	}

/* Table ------------------------------*/
	#nextJobSec .section-title {
		margin: 0;
	}
	.data-modal table {
		min-width: 285px;
		max-width: 700px;
		margin: 0 auto;
	}
	table td, table th {
		display: inline-block;
		font-size: 12px;
		line-height: 1.1em;
		text-transform: capitalize;
		/*outline: 1px solid red;*/
		min-width: 60px;
		width: 22%;
		text-align: center;
		letter-spacing: -0.4px;
		word-spacing: 1px;
	}
	table th {
		font-weight: 700;
	}
	table td {
		padding: 5px;
		font-weight: 400;
	}
	
	/* First column */
	table th.col0, table td.col0 {
		min-width: 85px;
		width: 34%;
		text-align: right;
		/*font-weight: 500;*/
	}
	table th.col0 {
		/*text-align: center;*/
	}

	/* percent spans */
	span.freq-pct {
		/*font-style: italic;*/
		/*font-size: 90%;*/
		line-height: inherit;
		margin-left: 2px;
		/*font-weight: 900;*/
		color: rgba(24,24,24,.81);
	}
@media all and (max-width: 450px) {
	.data-modal .modal-content {
		padding-left: 5px;
		padding-right: 5px;
	}
	.data-modal table .col0 {
		width: 85px;
	}
}
@media all and (min-width: 700px) {
	table td, table th {
		font-size: 14px;
		line-height: 1.5em;
		padding: 10px;
	}
}



/* Star Scale -----------------------------------------------------*/
	.star-scale div {
		/*outline: 1px solid red;*/
	}
	/*.star-scale i.material-icons {
		font-size: 2em;
		height: 1em;
		width: 1em;
	}*/
	/*div.star-base {
		position: relative;
		font-size: 12px;
		width: 240px;
		height: 43px;
		background-image: url(../icons/5star-border-white.svg);
	}
	div.star-rating {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../icons/5star-filled-white.svg);
	}*/
	#overall-rating-wrap, #rating-wrap ul {
		/*outline: 1px solid red;*/
	}	

	#overall-rating-stars {
		display: inline-block;

	}
	#overall-rating-stars.star-rating i.material-icons{
		font-size: 56px; 
		letter-spacing: -10px;
	}
	
	#overall-rating-wrap {
	}
/* Company Info ---------------------------------------------------*/
	ul#ratings-summary {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
	#ratings-summary h3 {
		/*font-size: 56px;*/
		line-height: 1em;
		font-size: 64px;
		padding: 10px 20px;
		background-color: rgba(81,81,81,.24);
		border-radius: 8px;
		float: left;
		display: inline-block;
		font-weight: 900;
		letter-spacing: -2px;
	}
	#ratings-summary li {
		text-align: center;
		margin: 0;
	}
	#rating-wrap .col {
		text-align: right;
	}

	#company-details a {
		color: #fff;
		text-decoration: underline;
	}
	#company-details li {
		margin-left: 64px;
	}

	img#companySquareLogo {
		height: 48px;
		width: initial;
		float: left;
	}


	.alternate #ratings-breakdwon li {
		margin: 5px 0;
		font-size: 16px;
		color: #aaa;
	}
	#ratings-breakdown span.target {
		font-weight: 600;
		color: #fff
	}

/* Featured Review ---------------------------------------------------*/
	#featuredReview.section {
		padding: 40px;
	}

	/*.full-screen.data-modal p.review-body span,*/
	/*.full-screen.data-modal p.review-body,*/
	p.review-body {
		text-align: left;
		margin-bottom: 20px;
	}

	#fr-pros::before {
		content: "Pros: ";
		font-weight: 800;
	}
	#fr-cons::before {
		content: "Cons: ";
		font-weight: 800;
	}
	.eyebrow {
		font-size: 18px;
	}

	/* Featured review headline */
	.sec-headline {
		font-size: 48px;
	}
	.sec-headline span {
		display: inline-block;
		width: 60%;
	}
	.sec-headline i.material-icons {
		font-size: 2em;
		width: initial;
		text-align: left;
		margin: 0 5% 0 0;
		float: right;
	}
	i.material-icons.flipped {
		float: left;
		text-align: right;
		margin: 0 5% 0 0;
	    transform: scale(-1);
	    -moz-transform: scale(-1);
	    -webkit-transform: scale(-1);
	    -ms-transform: scale(-1);
	}
/* Before Labels ------------------------------*/
	#cultureValues::before 			{ content: "Culture & Values:" }
	#seniorLeadership::before 		{ content: "Senior Leadership:" }
	#compensationBenefits::before 	{ content: "Compensation & Benefits:" }
	#careerOpportunities::before 	{ content: "Career Opportunities:" }
	#workLifeBalance::before 		{ content: "Work/Life Balance:" }
	#recommendToFriend::before 		{ content: "Recommend to Friend:" }
	#companyWebsite::before 		{ content: "Website:" }
	#companyIndustry::before 		{ content: "Industry:" }

	#ratings-breakdown li::before {
		margin-right: 1em;
	}