/*--------------------------------
    Feed Listings
--------------------------------*/
#page1 {
	padding-top: 30px;
	display: none;
}
#feed {

}
.listing {
	border: 1px solid #ECF0F1;
	background-color: #fdfdfd;
	margin-bottom: 20px;
	position: relative;
}
a.link {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.headline, .company {
	margin-top: 0;
}
.headline {
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
	margin-right: 10px;
}
.company {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
}
.description {
	padding: 0 5px;
	border-top: 2px solid #ECF0F1;
	/*border-top: 2px solid #bdc3c7;*/
	padding-top: 5px;
	margin-bottom: 0;
}
.meta {
	padding: 0;
}
.meta-detail {
	display: inline-block;
	width: initial;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 14px;
	padding: 0 10px;
	margin-right: 5px;
	background-color: #7f8c8d;
	color: #ECF0F1;
	color: #eee;
	font-weight: 300;
}
.toggle-fold {
	text-align: center;
	background-color: #ECF0F1;
	color: #333;
	font-weight: 300;
	padding: 2px 0;
	font-size: 14px;
	width: 100%;
	cursor: pointer;
		background: none;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
}

.fold-hide {
	display: none;
}



/*--------------------------------
        Pagination
--------------------------------*/
	.pagination-container {
		text-align: center;
	}

	#feed-controls label {
/*		height: 45px;
		line-height: 45px;
		margin: 0;*/
		/*padding-left: 0;*/
		padding-right: 0;
	}

