
/* Page 1 ------------------------------*/
	#page1 {
		background-color: #eee;
		min-height: 100vh;
		padding-top: 80px; /* extra 80px to account for body nav */
		padding-bottom: 40px;
		position: relative;
	}

/* Feed ------------------------------*/
	.collapsible-header {
		padding: 1rem;
	}
	.collapsible li {
		position: relative;
	}
	.headline, .company {
		/* Match indent */
		margin: 0;
		margin-left: 35px;
		overflow: hidden;
	}
	.headline {
		display: block;
		font-weight: 500;
		font-size: 16px;
		margin-right: 10px;
		height: 20px;
		line-height: 20px;
	}
	.company {
		display: block;
		font-weight: 300;
		font-size: 14px;
		height: 16px;
		line-height: 16px;
	}
	span.ghost {
		display: inline-block;
		position: absolute;
	}
	/* Listing number */
	.listing-number {
		height: 20px;
		line-height: 20px;
		width: 20px;
		color: rgba(0,0,0,0.4);
		text-align: right
	}

	.location::before {
		content: "Location: "
	}
	.date::before {
		content: "Posted: "
	}
	.source::before {
		content: "Source: "
	}

/* Save Button (in listing) ------------------------------*/
	.save-wrap {
		display: inline-block;
		font-size: 20px;
		height: 1em;
		width: 1em;
		overflow: hidden;
			position: absolute;
			top: 15px;
			right: 15px;
		background-image: url(../icons/heart1sq-grayl-red.svg);
		background-size: cover;
		background-position-y: 0%; 
		cursor: pointer;
	}
	.save-wrap:hover,
	.save-wrap.saved {
		background-position-y: 100%;
	}
	.save-wrap.saved:hover {
		/*background-position-y: 0%; */
	}
	.save-img {
		display: none;
	}

/* Pagination ------------------------------*/
	.pagination li.active {
		background-color: #78909c;
	}

/* Feed Details ------------------------*/
	#feed-details {
		margin-bottom: 5px;
	}











/*--------------------------------------------------------*/	