footer {
	background-color: rgba(0,0,0,0.81);
	background-color: rgba(81,81,81,.81);
	background-color: rgba(24,24,24,.81);
	background-color: rgba(8,8,8,.81);
	/*display: none;*/
	font-size: 14px;
}

.footer-container.row {
	margin: 0;
	padding: 3em 0;
}
.footer-wrap {
	text-align: center;
	height: initial;
}
footer a {
	color: #fff;
	opacity: 0.8;
	transition: opacity 300ms;
}
footer a:hover {
	/*text-decoration: underline;*/
	opacity: 1;
}

/* Copyright caption ------------------------------ */
#ftr-caption-wrap {
	font-size: 12px;
	height: initial;
	line-height: 1em;
	padding: 0;
	/*margin-top: 1.5em;*/
	color: rgba(255,255,255,0.5);
}
#ftr-caption-wrap p.subheadline {
	font-size: 	inherit;
}


/* Alternate */
div#ftr-main-wrap {
	position: relative;
	padding: 0 1em;
}
#ftr-main-wrap .col {
	/*margin-bottom: 1em;*/
}
a.sec-link {
	display: block;
	height: 1.2em;
	line-height: 1.2em;
	/*padding: 0 4px;*/
	text-align: right;
	margin-left: auto;
	width: initial;
	position: relative;
}

a#logo-link{
	height: 3em;
	padding: .2em;
	width: initial;
	display: inline-block;
	float: left;
	opacity: 0.81;
	border-radius: 5px;
	transition: all 500ms;
}
img#ftr-logo {
	height: 100%;
	width: initial;
	float: left;
	margin: 0;
}
a#logo-link:hover { background-color: rgba(0,0,0,0.2) }

@media all and (max-width: 600px){
	#ftr-main-wrap .col a {
		float: none;
		/*text-align: center;*/
	}
}