
/* Header ------------------------------*/
	nav.header {
		/*position: fixed;*/
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: none;
		z-index: 1000;
		background-color: transparent;
		/*background-color: rgba(0,0,0,0.4);*/
	}
	.nav-wrapper {
		width: 96%;
		margin: 0 auto;
	}
	.pin-target .main-nav-menu-icon { /* menu icon size in nav */
		font-size: 36px;
		height: inherit;
		line-height: inherit;
	}
	
	.header-link.btn {
		display: inline-block;
		margin-left: 0;
		border-radius: 4px;
		/*background-color: #2196f3;*/
		background-color: transparent;
		background-color: rgba(0,0,0,0.2);
		background-color: rgba(0,0,0,0.5);
		color: #eee;
		box-shadow: none;
		/*box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.8);*/

		font-weight: 400;
		padding: 0 1rem;
	}
	.header-link.btn:hover {
		/*color: #111;*/
		/*background-color: rgba(255,255,255,0.9);*/
		background-color: rgba(0,0,0,0.3); 
		background-color: rgba(0,0,0,0.6);
		/*box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.3);*/
	}

/* Collapsed Mobile Side Nav ------------------------------*/
	#nav-mobile li {
		text-align: center;
		margin-bottom: 15px;
	}
	#nav-mobile a.btn.header-link {
		color: #fff;
	}
	#nav-mobile a.header-link,
	#nav-mobile a.header-link.persistent {
		color: #666;
	}
	#nav-mobile a.header-link.persistent {
		display: inline-block;
		margin: 0 auto;
	}
	#nav-mobile a.header-link:hover {
		text-decoration: none;
	}

/* Close buttons ------------------------------*/
	a.close-btn:hover {
		color: initial;
		text-decoration: none; 
	}

	/* Close icon on left aligned side-nav */
	#nav-mobile.side-nav a.close-btn {
		text-align: center;
	}
	#nav-mobile.side-nav i.material-icons {
		float: right;
		position: absolute;	
		top: 	0;
		right: 	0;
		/*margin-left: 32px;*/
		/*margin-right: 0px; */
	}