/*--------------------------------
        Login
--------------------------------*/
	#signInWithGithub {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #000;
	}

	#signOut {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #000;
		visibility: hidden;
	}

	#displayJobs{
		visibility: hidden;	
	}