
/* Input Colors -------------------------------------------*/

	input:not([type]):focus:not([readonly]), 
	input[type=text]:focus:not([readonly]), 
	input[type=password]:focus:not([readonly]), 
	input[type=email]:focus:not([readonly]), 
	input[type=url]:focus:not([readonly]), 
	input[type=time]:focus:not([readonly]), 
	input[type=date]:focus:not([readonly]), 
	input[type=datetime]:focus:not([readonly]), 
	input[type=datetime-local]:focus:not([readonly]), 
	input[type=tel]:focus:not([readonly]), 
	input[type=number]:focus:not([readonly]), 
	input[type=search]:focus:not([readonly]), 
	textarea.materialize-textarea:focus:not([readonly]) 
	{
		border-bottom: 1px solid #999;
		box-shadow: 0 1px 0 0 #999;
	}

/* Input Text Field Colors ------------------------------*/
	/* text input color */
	.input-field input[type=text] {
		color: #eee;
		/*border-bottom-width: 2px;*/
	}
	/* placeholder color */
	.input-field input[type=text]::placeholder {
		color: #999;
	}
	/* label color */
	.input-field label {
	 color: #ccc;
	}
	/* label focus color */
	.input-field input[type=text]:focus + label {
	 color: #ddd;
	}
	/* label underline focus color */
	.input-field input[type=text]:focus {
	 border-bottom: 1px solid #ccc;
	 box-shadow: 0 1px 0 0 #ccc;
	}
	/* valid color */
	.input-field input[type=text].valid {
	 border-bottom: 1px solid #2ecc71;
	 box-shadow: 0 1px 0 0 #2ecc71;
	}
	/* invalid color */
	.input-field input[type=text].invalid {
	 border-bottom: 1px solid #e74c3c;
	 box-shadow: 0 1px 0 0 #e74c3c;
	}
	/* icon prefix focus color */
	.input-field .prefix.active {
	 color: #ccc;
	}

/* All Checkboxes ------------------------------*/

	.input-field input[type=checkbox] + label {
		 color: #666;
	}
	.input-field  input[type=checkbox]:hover + label, 
	.input-field  input[type=checkbox]:focus + label {
		 color: #111;
		 text-decoration: underline;
	}
	
	/* checkbox */
	[type="checkbox"].filled-in:checked+label:after {
		border: 2px solid #333;
		background-color: #333;
		margin-top: 3px;
	}

	[type="checkbox"]+label:before, 
	[type="checkbox"]:not(.filled-in)+label:after,
	[type="checkbox"].filled-in:not(:checked)+label:after {
		border: 2px solid #333;

	}
	/* checkmark */
	[type="checkbox"].filled-in:checked+label:before,
	[type="checkbox"]:checked+label:before {
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		margin-top: 5px;
	 }