    .modal .btn {
        background-color: #3498db;
        height: 45px;
        line-height: 45px;

    }
    .modal .btn:hover {
        background-color: #2980b9;
    }

    .modal .headline-row {
    	width: 100%;
    	text-align: center;
    }

    .modal h4 {
    	font-weight: 600;
    	font-size: 36px;
    }
    .modal h5 {
		font-size: 24px;
    }

   