/*
    Resume Modal CSS by Priyanka
*/
       /*.modal-height{
            max-height:700px;
        }*/
        #resume-modal{
            max-height:700px;
        }
         #resume-modal h4{
            color: #26a69a;
        }
        .resume-result{
            background: #e2e2e2;
            margin: 2px 0 0 2px;
            width: 400px;
            height: 280px;
            border-radius: 100%;
            border: #3F547F dashed 3px;
            padding: 10px;
        }
        #result{
            position: relative;

        }
        .resume-result span{
            display: block;
            font-size: 85px;
            line-height: 70px;
            margin: 0 0 15px;
            font-family: Arial;
            position: absolute;
            left: 30px;
            top: 100px;
            border-right: #a9a9a9 dashed 1px;
            float: left;
            color: #3F547F;
            padding-right: 15px;
        }
        .large-advice{
            font-size: 15px;
            color: rgb(51, 51, 51);
            position: absolute;
            top: 40px;
            left: 150px;
            right: 30px;
            bottom: 20px;
            /*line-height: 24px;*/
            /*text-align: justify;*/
        }
        .small-advice{
            font-size: 15px;
            color: rgb(51, 51, 51);
            position: absolute;
            top: 80px;
            left: 150px;
            right: 30px;
            bottom: 20px;
            /*line-height: 24px;*/
            /*text-align: justify;*/
        }
        #error{
            font-size: 25px;
            color: red;
            position: absolute;
            margin:auto;
            line-height: 40px;
            padding:10px;
            top: 40%;
        }

        #resumeText {
            min-width: 100%;
            height: 200px;
        }
        #result .progress {
            position: absolute;
            top: 50%;
            width: 90%;
            height: 20px;
            display: none;
            color: #3F547F;
        }



/* Resume Grade Modifications by Wayne */

    #resume-modal .btn {
        background-color: #78909c;
    }
    #upload-button {
        float: right;
        margin-top: 8px;
    }
    #resume-modal textarea {
        background-color: rgba(81,81,81,0.04);
        border-radius: 8px;
        padding: 4px 8px;
        outline: none;
        border: 1px solid rgba(81,81,81,0.08);
    }

    #resume-modal textarea:focus {
        background-color: #fff;

    }
    #resume-modal .file-path-wrapper .file-path {
        color: #666;
        font-size: 16px;
    }
    #resume-modal #form-col {
        margin: 0 auto;
        float: none;
    }
    #resume-modal .modal-content {
        /*padding-top: 0px;*/
    }
    #resume-modal .headline-row {
        background-color: #fff;
        padding: 32px 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    #resume-modal .headline-row h4 {
        color: #2980b9;
    }
/* Progree Bar */
    #resume-modal .progress {
        background-color: #3498db;
    }
    #resume-modal .progress .indeterminate {
        background-color: rgba(0,0,0,0.3);
    }
/* Resume Results styling */
    div.resume-result {
        width: 100%;
        border-radius: 8px;
        border: none;
        padding: 12px;
        /*background-color: #fff;*/
        background-color: transparent;
        font-family: 'Roboto','Helvetica Neue','Helvetica',sans-serif;
    }
    .resume-result span#grade {
        position: relative;
        float: none;
        padding: 0 10px;
        margin: 0 auto;
        margin-bottom: 20px;

        top: auto;
        left: auto;
        text-align: center;
        display: block;
        width: 140px;
        height: 100px;
        line-height: 100px;
        border: none;
        background-color: #2ecc71;
        background-color: #bdc3c7;
        color: #fff;
        /*outline: 2px solid red;*/
        border-radius: 8px;
    }
    p#advice {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        display: block;
        font-size: 20px;
        padding: 12px;
        /*outline: 2px solid yellow;*/
        background-color: #fff;
        /*background-color: transparent;*/
        /*color: #333;*/
        border-radius: 8px;
        color: #555;
        border: 1px solid #ddd;
        /*box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);*/
        text-align: center;
    }
/* Resume Results shown  ---------------------------------------*/
    #resume-modal #result-col {
        display: none;
    }
      #resume-modal.results-shown #form-col {
            float: left;
      }
      #resume-modal.results-shown #result-col {
            display: block;
      }
