	
	#main-side-nav-link {
		/*display: none;*/
		color: #333;
		float: left;
	}
	
	#filter-side-nav {
		background-color: rgba(255,255,255,0.9);
	}

/* Close Button -----------------------------------------------*/
	.close-btn {

	}
/* Side Navigation -----------------------------------------------*/
	/* Headers  */
	.side-nav .collapsible-header {
		background-color: rgba(0,0,0,0.05);
		background-color: #4dd0e1;
		background-color: #039be5;
		/*background-color: rgba(0,0,0,0.6);*/
		/*background-color: rgba(100,100,100,0.8);*/
		/*border-top: 1px solid rgba(0,0,0,0.1);*/
		margin-top: 4px;
	}
	.side-nav .collapsible-header:hover {
		background-color: rgba(0,0,0,0.1);
		/*background-color: rgba(0,0,0,0.7);*/
		/*background-color: rgba(100,100,100,0.9);*/
		background-color: #0288d1;
	}
	.side-nav .collapsible-header.active {
		background-color: rgba(50,50,50,0.1);
		background-color: rgba(0,0,0,0.15);
		/*background-color: rgba(0,0,0,0.8);*/
		background-color: #0277bd;
	}

	.side-nav .collapsible-header i.material-icons,
	.side-nav .collapsible-header {
		color: #fff;
	}

	.side-nav .collapsible-body #filter-source {
		padding-bottom: 1.5rem;
	}
	.side-nav label {
		width: 100%;
	}


/* Side Navigation Dropdowns -------------------------------------*/
	/* Dropdown select wrapper (side nav) */
		.sideNavForm .input-field .select-wrapper {
			line-height: 48px;
			height: 48px;
		}
	/* Displayed text value of dropdowns in sidenavs */
		.sideNavForm .input-field input[type=text] {
			color: #333;
			/*text-indent: 30px;*/
			text-align: center;
		}
	/* dropdown content (side nav) */
		.sideNavForm .input-field .dropdown-content li span {
			text-align: center;
		}
	/* Dropdown Caret (Side Nav) */
		.sideNavForm .input-field .caret {
			margin-right: 20px;
		}
	/* Dropdown portion of dropdown in side nav? 
		Removes bottom border and margin which is important */
		.sideNavForm .input-field .select-dropdown {
			margin: 0;
			line-height: inherit;
			border-bottom: none;
		}
/* Horizontal Option Split ------------------------------*/
	.sideNavForm.horizontal-options ul {
		text-align: center;
	}
	.sideNavForm.horizontal-options li {
		width: 20%;
		padding: 0;
		display: inline-block;
		/*margin-left: -2px;*/
	}
	.sideNavForm.horizontal-options li a {
		padding: 0;
	}

	.sideNavForm.horizontal-options .selected a {
		font-weight: 800;
		font-style: italic;
		color: #2196f3;
	}
/*------------------------------------------------------------*/
	.side-nav li.no-padding {
		margin-bottom: 5px;
	}


/*------------------------------------------------------------*/