	
	#main-side-nav-link {
		/*display: none;*/
		color: #333;
		float: left;
	}
	
	#filter-side-nav {
		/*background-color: rgba(255,255,255,0.9);*/
		background-color: #fff;
	}

/* Close Button -----------------------------------------------*/
	.close-btn {
	}

/* First List Child in Nav -----------------------------------------------*/
	.side-nav li.no-padding {
		position: relative;
		min-height: 42px;
	}	

/* Side Navigation -----------------------------------------------*/
	/* Headers  */
	.side-nav .collapsible-header:hover,
	.side-nav .collapsible-header.active,
	.side-nav .collapsible-header {
		background-color: #656565;
		background-color: #fff;
		/*border-top: 1px solid rgba(0,0,0,0.2);*/
		border-bottom: 2px solid rgba(0,0,0,0.8);
		margin-top: 4px;
		transition: background-color 300ms;
	}


	.side-nav .collapsible-header i.material-icons,
	.side-nav .collapsible-header {
		color: #333;
		/*color: #fff;*/
	}

	.side-nav .collapsible-body #filter-source {
		padding-bottom: 1.5rem;
	}
	.side-nav label {
		width: 100%;
	}


/* Side Navigation Dropdowns -------------------------------------*/
	/* Dropdown select wrapper (side nav) */
		.sideNavForm .input-field .select-wrapper {
			line-height: 48px;
			height: 48px;
		}
	/* Displayed text value of dropdowns in sidenavs */
		.sideNavForm .input-field input[type=text] {
			color: #333;
			/*text-indent: 30px;*/
			text-align: center;
		}
	/* dropdown content (side nav) */
		.sideNavForm .input-field .dropdown-content li span {
			text-align: center;
		}
	/* Dropdown Caret (Side Nav) */
		.sideNavForm .input-field .caret {
			margin-right: 20px;
		}
	/* Dropdown portion of dropdown in side nav? 
		Removes bottom border and margin which is important */
		.sideNavForm .input-field .select-dropdown {
			margin: 0;
			line-height: inherit;
			border-bottom: none;
		}
/* Horizontal Option Split ------------------------------*/
	.sideNavForm.horizontal-options ul {
		text-align: center;
	}
	.sideNavForm.horizontal-options li {
		width: 20%;
		padding: 0;
		display: inline-block;
		/*margin-left: -2px;*/
	}
	.sideNavForm.horizontal-options li a {

		padding: 0;
	}

	.sideNavForm.horizontal-options .selected a {
		font-weight: 800;
		font-style: italic;
		color: #2196f3;
	}
/*------------------------------------------------------------*/
	.side-nav li.no-padding {
		margin-bottom: 10px;
	}


/*------------------------------------------------------------*/
/* Text Inputs */
	.side-nav .collapsible-body li {
		position: relative;
		line-height: 42px;
		min-height: 42px;
	}
	.side-nav .filterTermInput {
		width: 90%;
		margin-left: 5%;
		text-indent: 26px;
		margin-bottom: 15px;
	}
	#termFilters .collapsible-body ul {
		padding-bottom: 20px;
	}
	/* label underline focus color */
	.side-nav .input-field input[type=text]:focus {
	 border-bottom: 1px solid #ccc;
	 box-shadow: 0 1px 0 0 #ccc;
	}
	/* valid color */
	.side-nav .input-field input[type=text].valid {
	 /*border-bottom: 1px solid #2ecc71;*/
	 /*box-shadow: 0 1px 0 0 #2ecc71;*/
	}
	/* invalid color */
	.side-nav .input-field input[type=text].invalid {
	 /*border-bottom: 1px solid #e74c3c;*/
	 /*box-shadow: 0 1px 0 0 #e74c3c;*/
	}
	
/*------------------------------------------------------------*/
/* Icon before Text Input */
	.side-nav .icon.beforeFormInput {
		position: absolute;
		line-height: 42px;
		height: 42px;
		left: 0;
		top: 1px;
		width: 18px;
		margin-left: 5%;
		display: inline-block;
	}
/*------------------------------------------------------------*/
/* Instructions */
	.side-nav .collapsible-body .instructions {
		font-size: 14px;
		font-style: italic;
		color: #666;
		line-height: 1.2em;
		padding: 1em;
	}
/*------------------------------------------------------------*/
/* Submit Button */
	.fixedToBottom {
		/*position: absolute;*/
		/*bottom: 0;*/
		/*left: 0;*/
	}
	#applyFilters  {
		position: relative;
		background-color: #e74c3c;
		background-color: #d32f2f;
		background-color: 
	}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/