@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/*--------------------------------
        Global
--------------------------------*/
	body {
			font-family: 'Roboto','Helvetica Neue','Helvetica',sans-serif;
		}

/*--------------------------------
        Positioning
--------------------------------*/
	.float-right 	{	float: right; }
	.float-left 	{ float: left; 	}
	
	.push-down { margin-bottom: 30px; }
/*--------------------------------
        Pages
--------------------------------*/
	.full-pg {
			height: initial;
			min-height: 400px;
			max-height: 100vh;
			display: inline-block;
			position: relative;
			width: 90%;
			max-width: 100vw;
			padding: 50px 5%;
			margin: 0;
		}


/*--------------------------------
        Containers
--------------------------------*/
	.bumper {
			width: 100%;
			position: relative;
			display: block;
		}
	.wrapper {
			position: relative;
			display: inline-block;
			height: initial;
			width: initial;
		}



/*--------------------------------
        Forms
--------------------------------*/
	form {
		position: relative;
	}
	.search-bar {
		border: 1px solid #ECF0F1;
	}
	input {
			/*width: 100%; padding: 0;*/
			width: 94%;
			padding: 0 3%;
			font-size: 40px;
			line-height: 2.5em;
			height: 2.5em;
			border: none;
			outline: none;
			color: #ddd;
			/*border-bottom: 3px solid #ddd;*/
			font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
			font-weight: 500;
			/*background-color: #f3f3f3;*/
			background-color: #fdfdfd;
		}
	input:active, input:focus{
			color: #333;
			background-color: #fff;
		}
	input::placeholder {
			color: #ddd;
		}
	input.text {
		position: relative;
	}
	input.btn {
			position: absolute;
			top: 0;
			right: 0;
			width: initial;
			border: none;
			color: #fff;
			background-color: #3498db;
			cursor: pointer;
			transition: background-color 2s;
		} 
	input.btn:hover {
			background-color: #2980b9;
		}


	/* Box Shadow Style */
		input.input-box-shadow {
				/*box-shadow: 0 0 10px 2px rgba(50,50,50,0.3);*/
				box-shadow: 0 2px 8px 1px rgba(100,100,100,0.2);
			}
		input.input-box-shadow:hover, 
		input.input-box-shadow:active, 
		input.input-box-shadow:focus {
				/*box-shadow: 0 0 10px 4px rgba(50,50,50,0.3);*/
				box-shadow: 0 3px 8px 2px rgba(100,100,100,0.2);
			}


/*--------------------------------
        Tables
--------------------------------*/
	table {
			width: 100%;
			height: initial;
			max-width: initial;
			display: block;
			margin: 20px auto;
			border: none;
			border-spacing: 0;
		}
	thead {
			background-color: #546E7A;
			color: #fff;
			border: none;
			/*position: absolute;
			top: 0;
			left: 0;
			width: 100%;*/
		}
	tbody {
			background-color: #fff;
			margin-top: 42px;
			/*width: 100%;*/
		}
	tr {
			font-size: 14px;
			height: 2em;
			max-height: 2em;
			line-height: 2em;
			overflow: hidden;
		}
	th,td {
			height: 3em;
			/*line-height: 2.5em;*/
			padding: 0px 20px;
			outline: none;
			border: none;
			text-align: center;
			white-space: nowrap;
		}
	th {
			font-size: 14px;
			font-weight: 300;
			outline: none;
			line-height: 1em;
		}
	td {
			font-size: 12px;
			line-height: 2.5em;
			text-align: center;
			padding: 0 10px;
			font-weight: 400;
			max-width: 400px;
			overflow: hidden;
			white-space: nowrap;
			/*padding: 0;*/
		}